:root {
  --lhv-card-white: #ffffff;
  --lhv-card-border-radius: 0.25rem;
  --lhv-card-padding-x: 1.5rem;
  --lhv-card-padding-y: 1.5rem;
  --lhv-grid-gutter-x: 1.5rem;
  --lhv-grid-gutter-y: 1.5rem;
}
