@use "../styles/mixins.scss" as mixins;

#lhv-container {
  display: flex;
  @include mixins.container-wrapper;

  aside {
    @include mixins.grid-item;
    max-width: 320px;
    width: 100%;
  }

  main {
    @include mixins.grid-item;
    width: 100%;
  }
}
